@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --color-primario: #6EACDA;
    --corlor-secundario: #03346E;
    --color-terciario: #021526;
    --color-hover: #E2E2B6;

    --fuente-montserrat: 'Montserrat', sans-serif;
    --fuente-krona: 'Krona', sans-serif;
}


* {
    padding: 15;
    margin: 15;
    border: 10 solid black;
}
body {
    background-color: var(--color-primario);  
    color: var(--corlor-secundario);
    box-sizing: border-box
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80PX
}

.header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 5% 15%;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: var(--fuente-krona);
}

.título-destaque{ 
    color: var(--color-terciario);
}

.presentacion__contenido__texto{
    font-size: 36px;
    font-family: var(--fuente-montserrat);
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.presentacion__enlaces__subtitulos{
    font-family: var(--fuente-krona);
    font-size: 24px;
    font-weight: 400;
}

.presentacion__enlaces__link{
    width: 380px;
    text-align: center;
    font-size: 24px;
    font-weight: 600px;
    border-radius: 12px;
    padding: 21.5PX 0;
    text-decoration: none;
    color: var(--corlor-secundario);
    font-family: var(--fuente-montserrat);
    border: 8px dotted var(--color-terciario);
    display: flex;
    justify-content:center;
    gap: 10px;
}
.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
}
.footer{
    background-color: var(--corlor-secundario);;
    padding: 24px;
    color:var(--color-terciario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 400;
}